{% extends 'base.html' %}

{% block title %}User Profile{% endblock title %}

{% block extra_css %}

<style>
    /* Background image: URL I include this to get rid of the white border from the blur */
    body {
        background-image: url("https://live.staticflickr.com/5554/14535285422_48531e9131_b.jpg");
    }
    .bg-image {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("https://live.staticflickr.com/5554/14535285422_48531e9131_b.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        filter: blur(3px);
        z-index: -1; /* Keep the image behind other content */
    }

    /* Edit profile button behavior */
    .editprofile:hover {
        transform:scale(1.01);
        transition: 0.3s;
    }

    /* MOAR hover effects, for the sizzle  */
    .obsitem:hover {
        transform:scale(1.02);
        transition: 0.3s;
    }

    .recentpost:hover {
        transform:scale(1.02);
        transition: 0.3s;
    }
    .leaderboardicon:hover {
        transform:scale(1.1);
        transition: 0.3s;
    }

</style>

{% endblock extra_css %}

{% block content %}

{% load static %} <!-- Load static files -->

<div class="bg-image"></div>

<div class="container my-3">
    <div class="card shadow-sm" style="border-radius: 20px; overflow: hidden;">
        <div class="card-body">
            <div class="row align-items-center">
                <!-- Column for profile picture -->
                <div class="col-auto">
                    {% if user.userprofile.profile_pic %}
                        <img src="{{MEDIA_URL}}{{ user.userprofile.profile_pic.url }}" class="rounded-circle border border-success shadow-sm" alt="Profile Picture" style="width: 110px; height: 110px; object-fit: cover;">
                    {% else %}
                        <img src="{% static 'default.jpg' %}" class="rounded-circle border border-success shadow-sm" alt="Default Profile Picture" style="width: 110px; height: 110px; object-fit: cover;">
                    {% endif %}
                </div>
                <!-- Column for username and email -->
                <div class="col">
                    <h2 class="card-title">
                        {{ user.username | slice:":15" }}
                        <!-- If they have observations render a link to leaderboard -->
                        {% if recentobservations %}
                        <a href="{% url 'leaderboard_view' %}" class="ms-2">
                            <img src="{% static 'leaderboard.svg' %}" class="leaderboardicon" alt="leaderboard" style="height: 24px;">
                        </a>
                        {% endif %}
                    </h2>
                    <p><strong>Email:</strong> {{ user.email }}</p>
                </div>
            </div>
            {% if user == request.user %}
                <div class="row mt-3 mb-3 mx-1 shadow-sm editprofile" style="border-radius: 20px; overflow: hidden;">
                    <a href="{% url 'edit_profile' %}" class="btn btn-success">Edit Profile</a>
                </div>
            {% endif %}
            <div class="row mt-3">
                <!-- User details for bio and observations -->
                <div class="col-md-8">
                    <div class="card shadow-sm mb-3" style="background-color:whitesmoke; border-top-left-radius: 20px; border-bottom-left-radius: 20px; overflow:hidden">
                        <div class="card-body">
                            <h5 class="card-title mb-3">About me:</h5>
                            <hr>
                            <div class="mx-1">
                                <p><strong>Lifetime observations:</strong> {{ user.userprofile.observations }}</p>
                                <p><strong>Bio:</strong> {{ user.userprofile.bio }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Column for recent forum posts -->
                <div class="col-md-4">
                    <div class="card shadow-sm" style="background-color:whitesmoke; border-top-right-radius: 20px; border-bottom-right-radius: 20px; overflow:hidden">
                        <div class="card-body">
                            <h5 class="card-title">Recent posts:</h5>
                            <hr>
                            <!-- Forum posts go here -->
                            {% if recentPosts %}
                                {% for post in recentPosts %}
                                <a href="{% url 'thread_posts' thread_id=post.thread.id %}" class="text-decoration-none" aria-label="Read more about {{ post.thread.title }}">
                                <div class="card shadow-sm mt-3 recentpost" style="border-top-right-radius: 20px; border-bottom-right-radius: 20px; overflow: hidden;">
                                    <div class="mx-4 mt-2 mb-2">
                                        <h4 class="card-title">{{ post.thread.title }}</h4>
                                        <p class="card-text">
                                            <!-- portion of message contents if it's too long -->
                                            Message: {{ post.message|truncatechars:50 }}
                                            <br>
                                            <!-- date of posting -->
                                            Posted on {{ post.created_at|date:"F d, Y H:i" }}
                                        </p>
                                    </div>
                                </div>
                                </a>
                            {% endfor %}
                            
                            {% else %}
                                <p class="mx-1">No recent posts to display.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Card for containing observations -->
    <div class="card shadow-sm mt-3" style="border-radius: 20px; overflow: hidden;">
        <div class="card-body">
            <h5 class="card-title">Recent finds:</h5>
            <!-- check for and display 5 most recent observations -->
            {% if recentobservations %}
            <div class="container mt-3">
                <div class="card shadow-sm" style="border-radius: 20px; overflow: hidden;">
                    <div class="row mx-3">
                        {% for observation in recentobservations %}
                            <div class="col-sm-12 col-md-6">
                                <!-- Wrap the card in an <a> tag -->
                                <a href="{% url 'id_view' %}" class="text-decoration-none" aria-label="View details for {{ observation.species|default:"Unknown Species" }}">
                                    <div class="card shadow-sm mt-3 mb-3 obsitem" style="background-color:whitesmoke; border-radius: 20px; overflow: hidden;">
                                        <div class="card-body">
                                            <h5 class="card-title
                                            {% if observation.species %}
                                                text-success
                                            {% else %}
                                                text-danger
                                            {% endif %}">
                                                {{ observation.species|default:"Unknown Species" }}
                                            </h5>
                                            <h6 class="card-subtitle mb-3 text-muted">{{ observation.date|date:"F d, Y H:i" }}</h6>
                                            <p class="card-text">{{ observation.observation }}</p>
                                            <hr>
                                            {% if observation.observation_pic %}
                                                <img src="{{ observation.observation_pic.url }}" alt="Observation Image" style="max-width: 100%; height: auto; border-radius: 20px;">
                                            {% else %}
                                                <p class="card-text">No image uploaded.</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                        <!-- conditionally render the view more button. if theres no more why show it -->
                        {% if user.userprofile.observations > 6 %}
                            <a href="{% url 'user_journal_view' user.username %}" class="btn btn-success rounded-pill mt-3 mb-3">View More</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% else %}
                <div class="card-body">
                    <p class="card-text">No observations yet.</p>
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}