<!-- Seamus Jackson -->

{% extends 'base.html' %}

{% block title %}User Profile{% endblock title %}

{% block extra_css %}

<style>
    /* Background image: URL I include this to get rid of the white border from the blur */
    body {
        background-image: url("https://live.staticflickr.com/5554/14535285422_48531e9131_b.jpg");
    }
    .bg-image {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("https://live.staticflickr.com/5554/14535285422_48531e9131_b.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        filter: blur(3px);
        z-index: -1; /* Keep the image behind other content */
    }

    /* Edit profile button behavior */
    .editprofile:hover {
        transform:scale(1.01);
        transition: 0.3s;
    }

    /* MOAR hover effects, for the sizzle  */
    .obsitem:hover {
        transform:scale(1.02);
        transition: 0.3s;
    }

    .recentpost:hover {
        transform:scale(1.02);
        transition: 0.3s;
    }
    .leaderboardicon:hover {
        transform:scale(1.1);
        transition: 0.3s;
    }

    .hover:hover {
        transform:scale(1.02);
        transition: 0.3s;
    }

    @media (max-width: 768px) {
        /* Make all corners round on mobile for consistency */
        .card {
            border-radius: 20px !important;
            overflow: hidden !important;
        }
    }
</style>

{% endblock extra_css %}

{% block content %}

{% load static %}

<div class="bg-image"></div>

<div class="container my-3">
    <div class="card shadow-sm" style="border-radius: 20px; overflow: hidden;">
        <div class="card-body">
            <div class="row align-items-center">
                <!-- Column for profile picture -->
                <div class="col-auto">
                    {% if user.userprofile.profile_pic %}
                        <img src="{{MEDIA_URL}}{{ user.userprofile.profile_pic.url }}" class="rounded-circle border border-success shadow-sm" alt="Profile Picture" style="width: 110px; height: 110px; object-fit: cover;">
                    {% else %}
                        <img src="{% static 'default.jpg' %}" class="rounded-circle border border-success shadow-sm" alt="Default Profile Picture" style="width: 110px; height: 110px; object-fit: cover;">
                    {% endif %}
                </div>
                <!-- Column for username and email -->
                <div class="col">
                    <h2 class="card-title">
                        {{ user.username | slice:":15" }}
                        {% if user.is_superuser %}
                            <span class="badge bg-danger">SERPENT DEV</span>
                        {% endif %}
                        <!-- If they have observations render a link to leaderboard -->
                        {% if recentobservations %}
                        <a href="{% url 'leaderboard_view' %}" class="ms-2">
                            <img src="{% static 'leaderboard.svg' %}" class="leaderboardicon" alt="leaderboard" style="height: 24px;">
                        </a>
                        {% endif %}
                    </h2>
                    <p><strong>Email:</strong> {{ user.email }}</p>
                </div>
            </div>
            <!-- if its your profile then you can edit it -->
            {% if user == request.user %}
                <div class="row mt-3 mb-3 mx-1 shadow-sm editprofile" style="border-radius: 20px; overflow: hidden;">
                    <a href="{% url 'edit_profile' %}" class="btn btn-success">Edit Profile</a>
                </div>
            {% endif %}
            <div class="row mt-3">
                <!-- User details for bio and observations -->
                <div class="col-md-8">
                    <div class="card shadow-sm mb-3" style="background-color:whitesmoke; border-top-left-radius: 20px; border-bottom-left-radius: 20px; overflow:hidden">
                        <div class="card-body mx-3">
                            <h5 class="card-title mb-3">About me:</h5>
                            <hr>
                            <div class="d-flex text-center mb-1">
                                <!-- lifetime observations made -->
                                {% if observations %}
                                    <p class="flex-fill mx-3"><strong>Lifetime observations:</strong> {{ user.userprofile.observations }}</p>
                                {% else %}
                                    <p class="flex-fill mx-3"><strong>No observations yet!</strong></p>
                                {% endif %}
                                
                                {% if totalposts %}
                                    <!-- total number of forum posts from view -->
                                    <p class="flex-fill mx-3"><strong>Lifetime posts:</strong> {{totalposts}}</p>
                                {% else %}
                                    <p class="flex-fill mx-3"><strong>No forum posts yet!</strong></p>
                                {% endif %}
                        </div>    
                    </div>

                    <div class="card-body mx-3">
                        <h5 class="card-title mb-3">Bio:</h5>
                        <hr>
                        <p class="card-text">{{ user.userprofile.bio | slice:":300" }}</p>
                    </div>

                        <!-- Displaying favorite species -->
                        {% if user.userprofile.favorite_species %}
                        <div class="card mx-3 mb-3" style="border-radius: 20px; overflow: hidden;">
                            <div class="mx-3 mt-3 mb-3">
                                <h4 class="text-center"><strong>Favorite Snake:</strong> {{ userprofile.favorite_species.common_name }}</h4> <!-- Display each favorite species -->
                                <hr>
                                <div class="d-flex mx-4">
                                    <p class="flex-fill"><Strong>Scientific Name: </Strong> {{ userprofile.favorite_species.scientific_name }}</p>
                                    <p class="flex-fill"><strong>Venomous: </strong> {{ userprofile.favorite_species.venomous }}</p>
                                </div>

                                <a href="{% url 'id_view' %}?search={{ userprofile.favorite_species.common_name|urlencode }}"><img src="{% static userprofile.favorite_species.image_path %}" class="container-fluid hover shadow-sm"></a>
                            </div>
                        </div>
                        {% else %}
                        <div class="card mx-3 mt-3 mb-3" style="border-radius: 20px; overflow: hidden;">
                            <div class="mx-3 mt-3 mb-3">
                                <p><strong>Favorite Snake:</strong> No favorite species selected.</p>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <!-- Column for recent forum posts -->
                <div class="col-md-4">
                    <div class="card shadow-sm" style="background-color:whitesmoke; border-top-right-radius: 20px; border-bottom-right-radius: 20px; overflow:hidden">
                        <div class="card-body">
                            <h5 class="card-title">Recent posts:</h5>
                            <hr>
                            <!-- Forum posts go here -->
                            {% if recentPosts %}
                                {% for post in recentPosts %}
                                <a href="{% url 'thread_posts' thread_id=post.thread.id %}" class="text-decoration-none" aria-label="Read more about {{ post.thread.title }}">
                                <div class="card shadow-sm mt-3 recentpost" style="border-top-right-radius: 20px; border-bottom-right-radius: 20px; overflow: hidden;">
                                    <div class="mx-4 mt-2 mb-2">
                                        <h4 class="card-title">{{ post.thread.title }}</h4>
                                        <p class="card-text">
                                            <!-- portion of message contents if it's too long -->
                                            Message: {{ post.message|truncatechars:50 }}
                                            <br>
                                            <!-- date of posting -->
                                            Posted on {{ post.created_at|date:"N j, Y, P"}}
                                        </p>
                                    </div>
                                </div>
                                </a>
                            {% endfor %}
                            
                            {% else %}
                                <p class="mx-1">No recent posts to display.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Card for containing observations -->
    <div class="card shadow-sm mt-3 mb-5" style="border-radius: 20px; overflow: hidden;">
        <div class="card-body">
            <h5 class="card-title mx-3">Recent finds:</h5>
            <!-- check for and display 5 most recent observations -->
            {% if recentobservations %}
            <div class="container mt-3">
                <div class="card shadow-sm" style="border-radius: 20px; overflow: hidden; background-color: whitesmoke;">
                    <div class="row mx-3">
                        <!-- iterate through the recent observations that we found -->
                        {% for observation in recentobservations %}
                            <div class="col-sm-12 col-md-6">
                                <!-- clickable card, takes us to the snake in the id page -->
                                <a href="{% url 'id_view' %}?search={{ observation.species.common_name|urlencode }}" class="text-decoration-none" aria-label="View details for {{ observation.species|default:"Unknown Species" }}">
                                    <div class="card shadow-sm mt-3 mb-3 obsitem" style="background-color:white; border-radius: 20px; overflow: hidden;">
                                        <div class="card-body">
                                            <!-- Card details, (snake info and picture & link) -->
                                            <h5 class="card-title
                                            {% if observation.species %}
                                                text-success
                                            {% else %}
                                                text-danger
                                            {% endif %}">
                                                {{ observation.species|default:"Unknown Species" }}
                                            </h5>
                                            <h6 class="card-subtitle mb-3 text-muted">{{ observation.date|date:"N j, Y, P"}}</h6>
                                            <p class="card-text">{{ observation.observation }}</p>
                                            <hr>
                                            {% if observation.observation_pic %}
                                                <img src="{{ observation.observation_pic.url }}" alt="Observation Image" style="max-width: 100%; height: auto; border-radius: 20px;">
                                            {% else %}
                                                <p class="card-text">No image uploaded.</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- conditionally render the view more button. if theres no more why show it -->
                {% if user.userprofile.observations > 0 %}
                    <a href="{% url 'user_journal_view' user.username %}" class="btn btn-success rounded-pill mt-3 mb-3 hover" style="width: 100%;">View Journal</a>
                {% endif %}
            </div>
            <!-- nothing to show -->
            {% else %}
                <div class="card-body">
                    <p class="card-text">No observations yet.</p>
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}