{% extends 'base.html' %}

{% block title %}User Profile{% endblock title %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}


<div class="container">
    <!-- Profile card -->
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <!-- Title -->
                    <h3 class="card-title">Profile</h3>
                    <!-- User details -->
                    <p><strong>Username:</strong> {{ user.username }}</p>
                    <p><strong>Bio:</strong> {{ user.userprofile.bio }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
