{% extends 'base.html' %}

{% block title %}{{ board.name }} - My Forum{% endblock %}

{% block content %}
<h2>Threads in {{ board.name }}</h2>
<button id="newThreadButton" type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#newThreadFormCollapse">
    Create New Thread
</button>

<div class="collapse" id="newThreadFormCollapse">
    <div class="card card-body">
        <form method="POST" action="{% url 'new_thread' board.id %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<div class="threads mt-4">
    {% for thread in threads %}
    <div class="card mb-3">
        <div class="card-body">
            <h4><a href="{% url 'thread_posts' thread.id %}">{{ thread.title }}</a></h4>
            <p class="card-text">Started by <a href="{% url 'user_profile' thread.starter.id %}">{{ thread.starter.username }}</a> on {{ thread.created_at|date:"M d, Y" }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
