<!-- Seamus -->
{% extends 'base.html' %}

{% block title %}Forum{% endblock %}

{% block content %}

<style>
   body {
      background: rgb(2,0,36);
      background: -webkit-linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(25,135,84,1) 35%, rgba(86,135,25,1) 100%);
      background-size: cover;
      background-attachment: fixed;

   }
   a.text-decoration-none {
      color: inherit; /* This ensures the link inherits the text color from its parent, avoiding the default blue. */
      text-decoration: none; /* Removes underline from the link */
   }

   a.text-decoration-none:hover {
      text-decoration: none; /* Keeps underline off on hover */
      opacity: 0.9; /* slight fade */
   }
   .board:hover{
      transform: scale(1.02); /* Scale up on hover */
      transition: 0.3s; /* Smooth transition */
   }
</style>

{% if user.is_authenticated %}
   <h1 style="text-align: center; color: white;"><strong>Welcome back, {{request.user.username}}</strong></h1>
{% else %}
   <h1 style="text-align: center; color: white;"><strong>Welcome, guest user!</strong></h1>
{% endif %}
<hr style="color: white;">

<div class="card shadow mb-5" style="border-radius: 20px; overflow: hidden;">
   <div class="card-body shadow-sm" style="background-color: whitesmoke;">
      <h2 class="card-title" style="text-align: center;">Forum Boards</h2>
      <hr>
      <!-- welcome message -->
      {% if request.user.is_authenticated %}
         <p class="card-text" style="text-align: center;">Below are the boards available on the forum. Click on a board to view its threads.</p>
      {% else %}
         <p class="card-text" style="text-align: center;">Below are the boards available on the forum. You must be <a href="{% url 'login' %}">logged in </a> to post threads or replies.</p>
      {% endif %}
   </div>
   <div class="boards mt-5 mb-3">
      <div class="row mx-3">
         <!-- Board cards -->
         {% for board in boards %}
            <div class="col-md-4">
               <!-- Make the whole card a link -->
               <a href="{% url 'board_threads' board.id %}" class="text-decoration-none">
                  <div class="card mb-3 shadow-sm board" style="border-radius: 20px; overflow: hidden;">
                     <div class="card-body" style="background-color: whitesmoke;">
                        <!-- render board information -->
                        <h3 class="card-title" style="text-align: center; color: black;">{{ board.name }}</h3>
                        <hr>
                        <p class="card-text" style="text-align: center; color: black;">{{ board.description }}</p>
                     </div>
                  </div>
               </a>
            </div>
         {% endfor %}
      </div>
   </div>

   <div class="container-fluid">
      <div class="row mx-3">
         <!-- Threads column -->
         <div class="col-md-6">
            <h3 class="mt-5 mb-3">Recent Threads:</h3>
            <hr>
            <!-- render threads -->
            {% if threads %}
               {% for thread in threads %}
                  <div class="card board shadow-sm mb-4" style="border-radius: 20px; overflow: hidden;">
                     <a href="{% url 'thread_posts' thread.id %}" class="link-success text-decoration-none">
                        <div class="card-body" style="background-color: whitesmoke;">
                           <!-- thread info -->
                           <h4>{{ thread.title }}</h4>
                           <div class="d-flex align-items-center mt-3">
                              {% if thread.starter.userprofile.profile_pic %}
                                 <img src="{{ MEDIA_URL }}{{ thread.starter.userprofile.profile_pic.url }}" alt="Profile Image" style="width: 20px; height: 20px; border-radius: 15px; margin-right: 10px;">
                              {% endif %}
                              <p class="mt-3" style="color: black;">
                                 Posted by {{ thread.starter.username }} on {{ thread.created_at|date:"N j, Y, P" }}
                              </p>
                           </div>
                        </div>
                     </a>
                  </div>
                  <hr>
               {% endfor %}
            {% endif %}
         </div>
   
         <!-- Posts column -->
         <div class="col-md-6">
            <h3 class="mt-5 mb-3">Latest Posts:</h3>
            <hr>
            <!-- render posts -->
            {% if posts %}
               {% for post in posts %}
                  <div class="card board shadow-sm mb-4" style="border-radius: 20px; overflow: hidden;">
                     <a href="{% url 'thread_posts' post.thread.id %}" class="link-success text-decoration-none">
                     <div class="card-body" style="background-color: whitesmoke;">
                        <!-- post info -->
                        <h4>{{ post.thread.title }}</h4> <!-- thread title -->
                           <p>{{ post.message }}</p> <!-- post message -->
                           <div class="d-flex align-items-center mt-3">
                              {% if post.created_by.userprofile.profile_pic %}
                                 <img src="{{ MEDIA_URL }}{{ post.created_by.userprofile.profile_pic.url }}" alt="Profile Image" style="width: 20px; height: 20px; border-radius: 15px; margin-right: 10px;">
                              {% endif %}
                                 <p class="mt-3" style="color: black;">
                                    Written by {{ post.created_by.username }} on {{ post.created_at|date:"N j, Y, P" }}
                                 </p>
                              </div>
                           </div>
                        </a>
                     </div>
                     <hr>
               {% endfor %}
            {% endif %}
         </div>
      </div>
   </div>
</div>

{% endblock %}